@import url('https://use.typekit.net/isd6uld.css');

.title {
  font-size: 2rem !important;
  text-transform: uppercase !important;
  font-family: burnaby-stencil, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(var(--v-theme-primary));
  opacity: 0.9;
}

.subtitle {
  color: rgb(var(--v-theme-primary)) !important;
  opacity: 0.8;
}
