<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="webtangl_logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- HTML Meta Tags -->
    <title>StoryTangl</title>
    <meta name="description" content="<%= BRAND_DESC %>">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%= BASE_URL %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="StoryTangl">
    <meta property="og:description" content="<%= BRAND_DESC %>">
    <meta property="og:image" content="<%= BASE_URL %><%= BRAND_IMG %>">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="">
    <meta property="twitter:url" content="<%= BASE_URL %>">
    <meta name="twitter:title" content="StoryTangl">
    <meta name="twitter:description" content="<%= BRAND_DESC %>">
    <meta name="twitter:image" content="<%= BASE_URL %><%= BRAND_IMG %>">

  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="src/main.ts"></script>
  </body>
</html>
