{
  "1": {
    "class_type": "LoadImage",
    "inputs": {"image": {{ images.source | tojson }}}
  },
  "2": {
    "class_type": "SaveImage",
    "inputs": {
      "images": ["1", 0],
      "filename_prefix": {{ prefix | default("storytangl/image-passthrough") | tojson }}
    }
  }
}
