#.git
#docs

.idea
*.pyc
.drone.yml
.pytest_cache
*.egg-info
**/.DS_Store
**/Dockerfile
docker-compose.yaml

*secret*
*.local
**.pkl
**/old
tests
art
scratch
scripts/_images
**/.gitignore
**/.dockerignore
*.pack
*.build
**.bin
**/_?build
**/dist
**/node_modules
**/.yarn
**/.yarnrc.yml
