[tool.poetry]
name = "tangl"
version = "3.2.0"
description = "The abstract narrative graph lib for interactive stories"
authors = ["derek <derek.merck@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
pydantic = "^2.10.6"
shortuuid = "^1.0.13"
jinja2 = "^3.1.5"
dynaconf = "^3.2.7"
pillow = "^11.1.0"
pyyaml = "^6.0.2"
semver = "^3.0.4"
sphinx = "^8.1.3"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

