# todo: this is _very_ out of date

# Create a minimal service stack:
#  - api on 5000 (backend)
#  - nginx on 8000 (client, media, docs)
#  - redis on 6379 (locking, data storage)

# req .env:
#  - TANGL_VERSION (image tag for the api service)
#  - TANGL_DOMAIN_NAME (base domain, e.g. example.com)
#  - TANGL_API_HOST (e.g. api.${TANGL_DOMAIN_NAME})
#  - TANGL_APP_HOST (e.g. app.${TANGL_DOMAIN_NAME})
#  - TANGL_REDIS_URL (optional override; defaults to internal redis service)

# Includes Docker labels and shared network for traefik reverse proxy:
#  $ docker network create frontend
#  $ docker compose up

version: "3.9"

services:

  api:
    image: storytangl:${TANGL_VERSION}
    build:
      context: .
    restart: unless-stopped
    environment:
      - TZ=UTC
      - API_BASE_URL=https://${TANGL_API_HOST:-api.localhost}
      - TANGL_REDIS_URL=${TANGL_REDIS_URL:-redis://redis:6379/0}
    volumes:
      - data:/data
    ports:
      - 5000:5000
    labels:
      - traefik.enable=true
      - traefik.http.routers.tangl_api.rule=Host(`${TANGL_API_HOST}`)
      - traefik.http.routers.tangl_api.entrypoints=websecure
      # change to prodresolver for signed cert
      - traefik.http.routers.tangl_api.tls.certresolver=stagingresolver
      - traefik.http.services.tangl_api.loadbalancer.server.port=5000
      - traefik.docker.network=frontend
    networks:
      - frontend
      - backend

  app:
    image: nginx
    restart: unless-stopped
#    # TODO: mount static content and nginx config here
#    volumes:
#      - ./static:/usr/share/nginx/html:ro
#      - ./nginx.conf:/etc/nginx/nginx.conf:ro
#    ports:
#      - 9000:80
    labels:
      - traefik.enable=true
      - traefik.http.routers.tangl_app.rule=Host(`${TANGL_APP_HOST}`)
      - traefik.http.routers.tangl_app.entrypoints=websecure
      # change to 'prodresolver' for signed cert
      - traefik.http.routers.tangl_app.tls.certresolver=stagingresolver
      - traefik.http.services.tangl_app.loadbalancer.server.port=80
      - traefik.docker.network=frontend
    networks:
      - frontend

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      - backend

volumes:
  data: {}

networks:
  frontend:
    external: True
  backend:
