character_id_photo:
  # -> "id_photo_jane_doe_red_hair_ABC123.png"
  label: "id-photo-{{ actor_model }}-{{ hair_length }}-{{ hair_color }}-{{ skin_color }}{{ '-glasses' if glasses }}"

  prompt: "{{ open }} {{ who_desc }} {{ outfit_desc }} {{ close }}"
  n_prompt: "{{ n_open }} {{ neg }} {{ n_close }}"
  locals:
    open: stunning color photo portrait of
    who_desc: "{{ nominal_desc }}  {{ face_desc }} {{ body_desc }}"
    close: "{{ pose_desc }} {{ art_style_desc }}"
    pose_desc: head and shoulders facing the camera directly, looking at viewer, neutral expressionless, unobstructed, simple background
    art_style_desc: highres, chiaroscuro, dlsr, detailed masterpiece

    nominal_desc: "{{ 'male' if face == 'masculine' else 'female' }} {{apparent_age}} model {{actor_model}}"
    body_desc: "{{ body_shape }} body shape, {{ skin_color }} skin, {{ eye_color }} eyes, {{ hair_style }} {{ hair_color }} hair"
    face_desc: ""
    outfit_desc: "wearing {% if glasses %} glasses, {% endif %} {{ outfit_palette }} {{ outfit_type }} outfit"
    neg: "{{ 'male beard' if face != 'masculine' }} {{ 'female' if face != 'feminine' }} {{ art_style_neg }}"
    art_style_neg: "anime 3d cg cartoon lowres {{ 'old' if apparent_age not in ['old'] }}"

  ref_ims:
    - name: id_photo2_openpose.png
      model: openpose
      weight: 0.9
      guidance: 1.0
      guidance_end: 0.8

  variants:
    hair_style:  [short, long]
    hair_color:  [blonde, dark, red]
    skin_color:  [fair, dark]
    glasses:     [yes, no]

